@media screen and (max-width: 4000px) {
    .square {
        box-sizing: border-box;
        border: 1px solid #040567;
        margin: 0;
        padding: 0;
        width: 35px;
        height: 35px;

        text-align: center;
        color: white;
        background: #abeae0;
        transition: background .3s;
    }

    .boat {
        background: #1c3a8b;
    }

    .killed {
        background: #a52e28;
    }

    .miss {
        background: #9a9e9d;
    }
}

@media screen and (max-width: 1200px) {
    .square {
        width: 32px;
        height: 32px;
    }
}

@media screen and (max-width: 992px) {
    .square {
        width: 30px;
        height: 30px;
    }
}

@media screen and (max-width: 768px) {
    .square {
        width: 25px;
        height: 25px;
    }
}

@media screen and (max-width: 576px) {
    .square {
        width: 25px;
        height: 25px;
    }
}

